nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  color: #47514e;
  font-size: 1.1em;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

/* a:visited {
    color: #91bb4f;
} */

/* a:link {
    color: #91bb4f;
    text-decoration: underline;
} */

body {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: .8em;
    line-height: 1.5;
}

h1 {
  text-align: center;
}
